.container {
    width: 100%;
    height: 100%;
    text-align: center;
    // background-color: hotpink;
}

.header {
    font-family: 'Exo', sans-serif;
}

.form {
    margin: auto;
    text-align: center;
    // background-color: blanchedalmond;
}

.error {
    font-size: 10px;
    color: red;
}

.unlock-button {
    font-size: 40px;
}
.unlock-button:hover {
    cursor: pointer;
}