<div class="container">
    <div class="bg-img-container">

    </div>
    <div class="center-text">Image Gallery</div>
    <div class="content global-background-color">
        <div class="flex-filler"></div>
        <mat-tab-group mat-align-tabs="center" class="tab-group">
            <mat-tab label="New York Trip" class="tab">
                <div class="image-grid">
                    Content 1
                </div>
            </mat-tab>
            <mat-tab label="Second" class="tab">
                <div class="image-grid">
                    Content 2
                </div>
            </mat-tab>
            <mat-tab label="Third" class="tab">
                <div class="image-grid">
                    Content 3
                </div>
            </mat-tab>
        </mat-tab-group>
        <div class="flex-filler"></div>
    </div>
</div>