<div class="container">
    <div class="bg-img-container">

    </div>
    <div class="content">
        <div class="flex-filler"></div>
        <mat-tab-group mat-align-tabs="center" class="tab-group">
            <mat-tab label="New York Trip">
                <div class="image-container">
                    Content 1
                </div>
            </mat-tab>
            <mat-tab label="Second">
                <div class="image-container">
                    Content 2
                </div>
            </mat-tab>
            <mat-tab label="Third">
                <div class="image-container">
                    Content 3
                </div>
            </mat-tab>
        </mat-tab-group>
        <div class="flex-filler"></div>
    </div>
</div>