<div class="container">

    <div class="bg-img-container"></div>

    <div class="header"></div>

    <div class="chat-window-container">
        <div class="chat-window">
            <p class="text" 
               *ngFor="let msg of (chatHistory | async)?.slice().reverse()"
               [ngClass]="{
                    'user-0': msg.role === this.global.roles[0], 
                    'user-1': msg.role === this.global.roles[1], 
                    'user-none': msg.role === undefined
                }"
            >
                {{msg.text}}
            </p>
            
        </div>
    </div>
    background-color: rgb(255, 170, 58);

    <div class="input-container" [ngClass]="{
        'type-one-border': this.global.currRole === this.global.roles[0],
        'type-two-border': this.global.currRole === this.global.roles[1]
    }">
        <button class="switch-role-button" (click)="openDialog()" [ngClass]="{
            'type-one': this.global.currRole === this.global.roles[0],
            'type-two': this.global.currRole === this.global.roles[1]
        }">
            <mat-icon [ngStyle]="{'color':'white'}">people</mat-icon>
        </button>
        <mat-form-field class="form" appearance="none">
            <input matInput 
                   #message 
                   maxlength="256" 
                   placeholder="Enter Message Here..." 
                   (keydown.enter)="sendMessage()" 
                   [(ngModel)]="composedMsg">
        </mat-form-field>
        <button class="submit-button" (click)="sendMessage()" [ngClass]="{
            'type-one': this.global.currRole === this.global.roles[0],
            'type-two': this.global.currRole === this.global.roles[1]
        }">
            <mat-icon [ngStyle]="{'color':'white'}">send</mat-icon>
        </button>
            
    </div>
    
</div>