.container {
    width: 80%;
    margin: auto;
    // background-color: cornflowerblue;
}

h2 {
    font-family: 'Exo', sans-serif;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.example-radio-button {
    margin: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

