<div class="container">
    <h2>Select your Role:</h2>
    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="selectedRole">
        <mat-radio-button class="example-radio-button" *ngFor="let role of this.global.roles" [value]="role">
            {{role}}
        </mat-radio-button>
    </mat-radio-group>
    <br>
    <div class="buttons">
        <button mat-flat-button (click)="closeDialog()">Cancel</button>
        <button mat-flat-button (click)="onConfirm()"color="primary">Confirm</button>
    </div>
</div>