<div class="container left-most-padding">
    <mat-list class="list">

        <div class="link" (click)="navigate('home')">
            <button mat-icon-button>
                <mat-icon>home</mat-icon>
            </button>
            Home
        </div>

        <div class="link" (click)="navigate('unlock')">
            <button mat-icon-button>
                <mat-icon *ngIf="!this.global.chatRoomUnlocked">message</mat-icon>
                <mat-icon *ngIf="this.global.chatRoomUnlocked">lock_open</mat-icon>
            </button>
            Message
        </div>

        <div class="link" (click)="navigate('gallery')">
            <button mat-icon-button>
                <mat-icon>collections</mat-icon>
            </button>
            Gallery
        </div>

        <div class="link" (click)="navigate('wishlist')">
            <button mat-icon-button>
                <mat-icon>star</mat-icon>
            </button>
            Wishlist
        </div>

    </mat-list>
</div>