<div class="container global-background-color">

    <div class="bg-img-container">
        <div class="text-content">
            <span class="home-quote-1">
                <span>永遠相信</span><br>
                <span>美好的事情即將發生</span>
            </span>
            <span class="home-quote-2">
                <span style="font-size: 20px; font-weight: 1;">Hey</span><br>
                Coco
            </span>
            <span class="home-quote-3">
                勇往直前
            </span>
            <span class="home-quote-4">
                Believe In Yourself
            </span>
            <span class="home-quote-5">
                Work<br> 
                Hard<br>
                <!-- <span style="font-weight: 900;">Hard</span><br> -->
                Dream<br> 
                <span style="font-size: 40px; color: black;">Big</span>
            </span>
        </div>
    
        <!--<img class="bg-img" src="assets/img/home_bg_enlarged.png">-->
    </div>
    
</div>
