<div class="container global-background-color">

    <div class="bg-img-container">
        <div class="text-content">
            <span class="home-quote-0">
                <span>永遠相信</span><br>
                <span>美好的事情即將發生</span>
            </span>
            <span *ngIf="this.global.displayQuotes[1]" class="home-quote-1">
                <span style="font-size: 20px; font-weight: 1;">Hey</span><br>
                Coco
            </span>
            <span *ngIf="this.global.displayQuotes[2]" class="home-quote-2">
                勇往直前
            </span>
            <span *ngIf="this.global.displayQuotes[3]" class="home-quote-3">
                Believe In Yourself
            </span>
            <span *ngIf="this.global.displayQuotes[4]" class="home-quote-4">
                Work<br> 
                Hard<br>
                Dream<br> 
                <span style="font-size: 45px; color: black;">Big</span>
            </span>

            <span *ngIf="this.global.hiddenFunctionToggleChecked" class="hidden-quote-1">
                I Love You
            </span>
        </div>
    
        <!--<img class="bg-img" src="assets/img/home_bg_enlarged.png">-->
    </div>
    
</div>
