<mat-toolbar class='global-background-color toolbar'>
    <button mat-icon-button color="primary" (click)="toggleSidePanel()" #button>
        <mat-icon>more_vert</mat-icon>
    </button>
    <span class="middle-filler"></span>
    <div class="mat-tools">
        <span class="slide-me">Slide Me</span>
        <mat-slider [min]="this.global.sliderMin" 
                    [max]="this.global.sliderMax"
                    (input)="onInputChange($event)"
                    (change)="checkSliderValue($event)">
        </mat-slider>
        <mat-slide-toggle *ngIf="showHiddenToggle" color="primary" class="toggle" (click)="slideToggle()"></mat-slide-toggle>
    </div>
</mat-toolbar>