.colored_icon {
    color:lightcoral;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5px;
    height: 6vh;
}

.middle-filler {
    width: 80vw;
    // background-color: blanchedalmond;
}
.end-filler {
    width: 13vw;
    // background-color: blanchedalmond;
}

.mat-tools {
    
}

.toggle {
    padding-left: 15px;
}

.slide-me {
    font-weight: 100;
    font-size: 15px;
    padding-right: 10px;
}