.colored_icon {
    color:lightcoral;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.middle-filler {
    width: 80vw;
    // background-color: blanchedalmond;
}

.mat-tools {
    
}

.toggle {
    padding-left: 15px;
}