/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

html, body { height: 100%; overflow-y: hidden; }
body { margin: 0; font-family: 'Exo', sans-serif; }

.global-background-color {
    background-color: ghostwhite;
}

.left-most-padding {
    padding-left: 30px;
    padding-right: 30px;
}

.cdk-global-scrollblock{
    position: static !important;
    width: initial !important;
    overflow-y: inherit !important;
}
